.change-password-container {
  height: 100%;
  background-image: url('../../assets/login-background.png');
  background-size: cover;
  .change-password {
    &-back {
      font-size: 20px;
      position: fixed;
      left: 20px;
      top: 20px;
    }
    &-content-container {
      margin: 0 auto;
      padding-top: 180px;
      &-title {
        text-align: center;
      }
      .content {
        width: 380px;
        margin: 0 auto;
      }
    }
  }
  .success-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .success-content {
      padding-top: 20px;
      font-size: 20px;
    }
    .tips {
      padding-top: 80px;
      color: #ff5253;
    }
    .pass {
      display: inline-block;
      padding-top: 10px;
      cursor: pointer;
      &:hover {
        color: #49b03d;
      }
    }
  }
  &-footer-container {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 22px;
    left: 50%;
    transform: translateX(-50%);
    &-logo {
      width: 40px;
      height: 40px;
      background-image: url('../../assets/footer-logo.png');
      background-size: cover;
      margin-right: 16px;
    }
    &-text {
      display: inline-flex;
      flex-direction: column;
      font-size: 10px;
    }
  }
}
