@import '../../../theme';

.object-editor {
  width: 100%;
  height: 100%;

  &-add {
    margin-bottom: 24px;
  }

  &-p-list {
    .action-edit {
      color: $primary-color;
      cursor: pointer;
    }

    .action-delete {
      color: #fc7873;
      cursor: pointer;
    }
  }
}
