.search_tree__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  .ant-menu {
    overflow-y: auto;
    overflow-x: hidden;
    border-right: none;
    .ant-menu-submenu-title {
      height: 24px;
      line-height: 24px;
    }
    .ant-menu-item {
      height: 24px;
      line-height: 24px;
      margin: 0;
      opacity: 0.6;
    }
  }
  .search_tree__loading {
    display: flex;
    justify-content: center;
    margin-top: 50%;
  }
  .search_tree_actions {
    display: flex;
    justify-content: flex-end;
    margin: 5px 5px -15px 0;
    span {
      margin-left: 10px;
      cursor: pointer;
    }
    font-size: 15px;
  }
}
